In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import matplotlib.pyplot as plt
%matplotlib inline
import dateutil.parser
import math
from datetime import date
from datetime import datetime, timedelta
from vega_datasets import data
import altair as alt
alt.data_transformers.disable_max_rows()
alt.data_transformers.enable('json')
import seaborn as sns
import re

In [2]:
today = date.today()
print(today)

2020-10-09

In [3]:
# source: https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide
ecdc = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv", encoding = "utf-8")
ecdc.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,09/10/2020,9,10,2020,77,2,Afghanistan,AF,AFG,38041757.0,Asia,1.332746
1,08/10/2020,8,10,2020,68,1,Afghanistan,AF,AFG,38041757.0,Asia,1.172396
2,07/10/2020,7,10,2020,62,2,Afghanistan,AF,AFG,38041757.0,Asia,1.059362
3,06/10/2020,6,10,2020,145,5,Afghanistan,AF,AFG,38041757.0,Asia,1.083020
4,05/10/2020,5,10,2020,44,0,Afghanistan,AF,AFG,38041757.0,Asia,0.780721

In [4]:
#excluding NANs
countries_list = ecdc[ecdc['countryterritoryCode'].notnull()]['countryterritoryCode'].unique()

In [5]:
len(countries_list)

209

# configure date to be datetime

In [6]:
ecdc['parsed_date'] = [re.sub(r'(\d\d)\/(\d\d)\/(\d\d\d\d)','\g<3>-\g<2>-\g<1>', date) for date in ecdc['dateRep']]
ecdc.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,parsed_date
0,09/10/2020,9,10,2020,77,2,Afghanistan,AF,AFG,38041757.0,Asia,1.332746,2020-10-09
1,08/10/2020,8,10,2020,68,1,Afghanistan,AF,AFG,38041757.0,Asia,1.172396,2020-10-08
2,07/10/2020,7,10,2020,62,2,Afghanistan,AF,AFG,38041757.0,Asia,1.059362,2020-10-07
3,06/10/2020,6,10,2020,145,5,Afghanistan,AF,AFG,38041757.0,Asia,1.083020,2020-10-06
4,05/10/2020,5,10,2020,44,0,Afghanistan,AF,AFG,38041757.0,Asia,0.780721,2020-10-05

In [7]:
ecdc['parsed_date'] = [datetime.strptime(date, '%Y-%m-%d') for date in ecdc['parsed_date']]

In [8]:
# check whether latest date is today
ecdc['parsed_date'][0] == datetime.strptime(str(today),'%Y-%m-%d')

True

# Classify countries

In [9]:
moredouble = '01_moredouble'
more = '02_more'
samesame ='03_samesame'
less = '04_less'
lesshalf = '05_lesshalf'
zerozero ='06_zerozero'

In [10]:
threshold_samesame = 7

In [11]:
list_country_dicts = []
pd_today = pd.to_datetime(today)
for country in countries_list:
    country_dict = {}
    #filter dataframe for one specific country at a time
    filtered_aggregates = ecdc[ecdc['countryterritoryCode']==country]
    country_dict['country_ISO'] = country
    #filter country-specific-dataframe to only contain the last seven days ("this week")
    seven_days_ago = pd.to_datetime(today-timedelta(7))
    country_dict['today'] = today
    country_dict['seven_days_ago'] = seven_days_ago
    filtered_aggregates_this_week = filtered_aggregates[(filtered_aggregates['parsed_date']<=pd_today) & (filtered_aggregates['parsed_date']>seven_days_ago)]
    cases_this_week = filtered_aggregates_this_week['cases'].sum()
    country_dict['cases_this_week']= cases_this_week
    #filter country-specific-dataframe to only contain the previous seven days ("last week")    
    fourteen_day_ago = pd.to_datetime(today-timedelta(14))
    country_dict['fourteen_days_ago'] = fourteen_day_ago
    filtered_aggregates_last_week = filtered_aggregates[(filtered_aggregates['parsed_date']<=seven_days_ago) &(filtered_aggregates['parsed_date']>fourteen_day_ago)]
    cases_last_week = filtered_aggregates_last_week['cases'].sum()
    country_dict['cases_last_week']= cases_last_week
    # classify country -- verbal description: see README.md
    if (cases_last_week>0)&(cases_this_week > (cases_last_week * 2)):
        country_dict['trend_class'] = moredouble
    elif cases_this_week >= (cases_last_week+threshold_samesame):
        country_dict['trend_class'] = more
    elif (cases_last_week == 0)& (cases_this_week !=0):
        country_dict['trend_class'] = more
    elif (cases_last_week==0)&(cases_this_week==0):
        country_dict['trend_class'] = zerozero
    elif (cases_this_week == cases_last_week):
        country_dict['trend_class'] = samesame
    elif (cases_this_week == 0)&(cases_last_week != 0):
        country_dict['trend_class'] = lesshalf
    elif cases_last_week+threshold_samesame > cases_this_week > cases_last_week -threshold_samesame:
        country_dict['trend_class'] = samesame
    elif cases_this_week < cases_last_week/2:
        country_dict['trend_class'] = lesshalf
    elif cases_this_week <= cases_last_week-threshold_samesame:
        country_dict['trend_class'] = less
    else:
        country_dict['trend_class'] = 'youMISSEDsth'

    # add it all to the list of country dicts
    list_country_dicts.append(country_dict)

In [12]:
two_week_trend = pd.DataFrame(list_country_dicts)
two_week_trend.head()

,country_ISO,today,seven_days_ago,cases_this_week,fourteen_days_ago,cases_last_week,trend_class
0,AFG,2020-10-09,2020-10-02,408,2020-09-25,99,01_moredouble
1,ALB,2020-10-09,2020-10-02,1093,2020-09-25,885,02_more
2,DZA,2020-10-09,2020-10-02,968,2020-09-25,1111,04_less
3,AND,2020-10-09,2020-10-02,518,2020-09-25,297,02_more
4,AGO,2020-10-09,2020-10-02,891,2020-09-25,609,02_more

In [13]:
two_week_trend['trend_class'].value_counts()

02_more          94
04_less          47
03_samesame      26
01_moredouble    19
06_zerozero      12
05_lesshalf      11
Name: trend_class, dtype: int64

# Check for unclassified countries and other classes

In [14]:
len(two_week_trend[two_week_trend['trend_class']=='youMISSEDsth'])

0

In [15]:
two_week_trend[two_week_trend['trend_class']=='04_less']

,country_ISO,today,seven_days_ago,cases_this_week,fourteen_days_ago,cases_last_week,trend_class
2,DZA,2020-10-09,2020-10-02,968,2020-09-25,1111,04_less
9,ABW,2020-10-09,2020-10-02,135,2020-09-25,242,04_less
13,BHS,2020-10-09,2020-10-02,493,2020-09-25,521,04_less
14,BHR,2020-10-09,2020-10-02,3048,2020-09-25,4360,04_less
18,BEL,2020-10-09,2020-10-02,14609,2020-09-25,15411,04_less
23,BOL,2020-10-09,2020-10-02,2253,2020-09-25,3098,04_less
27,BRA,2020-10-09,2020-10-02,181352,2020-09-25,189390,04_less
36,CPV,2020-10-09,2020-10-02,591,2020-09-25,647,04_less
40,CHL,2020-10-09,2020-10-02,11266,2020-09-25,13116,04_less
46,CIV,2020-10-09,2020-10-02,227,2020-09-25,254,04_less
48,CUB,2020-10-09,2020-10-02,247,2020-09-25,360,04_less
53,DNK,2020-10-09,2020-10-02,2760,2020-09-25,3480,04_less
57,ECU,2020-10-09,2020-10-02,6461,2020-09-25,7438,04_less
59,SLV,2020-10-09,2020-10-02,667,2020-09-25,974,04_less
60,GNQ,2020-10-09,2020-10-02,17,2020-09-25,27,04_less
62,EST,2020-10-09,2020-10-02,310,2020-09-25,374,04_less
75,GHA,2020-10-09,2020-10-02,291,2020-09-25,434,04_less
76,GIB,2020-10-09,2020-10-02,42,2020-09-25,49,04_less
81,GTM,2020-10-09,2020-10-02,4071,2020-09-25,4476,04_less
86,HTI,2020-10-09,2020-10-02,88,2020-09-25,120,04_less
88,HND,2020-10-09,2020-10-02,4074,2020-09-25,4405,04_less
91,IND,2020-10-09,2020-10-02,512083,2020-09-25,575498,04_less
94,IRQ,2020-10-09,2020-10-02,27092,2020-09-25,30368,04_less
97,ISR,2020-10-09,2020-10-02,30622,2020-09-25,41313,04_less
99,JAM,2020-10-09,2020-10-02,718,2020-09-25,990,04_less
100,JPN,2020-10-09,2020-10-02,3424,2020-09-25,3718,04_less
105,XKX,2020-10-09,2020-10-02,232,2020-09-25,330,04_less
106,KWT,2020-10-09,2020-10-02,3765,2020-09-25,3825,04_less
117,MDG,2020-10-09,2020-10-02,200,2020-09-25,263,04_less
120,MDV,2020-10-09,2020-10-02,388,2020-09-25,415,04_less
132,MOZ,2020-10-09,2020-10-02,751,2020-09-25,1489,04_less
134,NAM,2020-10-09,2020-10-02,408,2020-09-25,633,04_less
141,NGA,2020-10-09,2020-10-02,840,2020-09-25,1152,04_less
146,PAK,2020-10-09,2020-10-02,4164,2020-09-25,4416,04_less
151,PER,2020-10-09,2020-10-02,20317,2020-09-25,29367,04_less
155,PRI,2020-10-09,2020-10-02,3227,2020-09-25,5225,04_less
156,QAT,2020-10-09,2020-10-02,1435,2020-09-25,1534,04_less
159,RWA,2020-10-09,2020-10-02,42,2020-09-25,54,04_less
165,SAU,2020-10-09,2020-10-02,3035,2020-09-25,3240,04_less
166,SEN,2020-10-09,2020-10-02,171,2020-09-25,203,04_less
170,SGP,2020-10-09,2020-10-02,65,2020-09-25,130,04_less
171,SXM,2020-10-09,2020-10-02,30,2020-09-25,50,04_less
178,ESP,2020-10-09,2020-10-02,58392,2020-09-25,73451,04_less
182,SWE,2020-10-09,2020-10-02,3058,2020-09-25,3436,04_less
194,UGA,2020-10-09,2020-10-02,1155,2020-09-25,1223,04_less
202,UZB,2020-10-09,2020-10-02,2668,2020-09-25,3488,04_less
203,VEN,2020-10-09,2020-10-02,4990,2020-09-25,5623,04_less

In [16]:
two_week_trend[two_week_trend['trend_class']=='03_samesame']

,country_ISO,today,seven_days_ago,cases_this_week,fourteen_days_ago,cases_last_week,trend_class
6,ATG,2020-10-09,2020-10-02,5,2020-09-25,8,03_samesame
10,AUS,2020-10-09,2020-10-02,110,2020-09-25,113,03_samesame
15,BGD,2020-10-09,2020-10-02,9605,2020-09-25,9603,03_samesame
22,BTN,2020-10-09,2020-10-02,22,2020-09-25,19,03_samesame
38,CAF,2020-10-09,2020-10-02,23,2020-09-25,25,03_samesame
43,COM,2020-10-09,2020-10-02,11,2020-09-25,10,03_samesame
54,DJI,2020-10-09,2020-10-02,6,2020-09-25,10,03_samesame
71,GAB,2020-10-09,2020-10-02,49,2020-09-25,50,03_samesame
72,GMB,2020-10-09,2020-10-02,33,2020-09-25,32,03_samesame
101,JEY,2020-10-09,2020-10-02,24,2020-09-25,20,03_samesame
118,MWI,2020-10-09,2020-10-02,30,2020-09-25,32,03_samesame
124,MUS,2020-10-09,2020-10-02,14,2020-09-25,14,03_samesame
127,MCO,2020-10-09,2020-10-02,10,2020-09-25,14,03_samesame
138,NZL,2020-10-09,2020-10-02,18,2020-09-25,19,03_samesame
139,NIC,2020-10-09,2020-10-02,94,2020-09-25,97,03_samesame
140,NER,2020-10-09,2020-10-02,4,2020-09-25,3,03_samesame
143,MNP,2020-10-09,2020-10-02,2,2020-09-25,4,03_samesame
149,PNG,2020-10-09,2020-10-02,10,2020-09-25,8,03_samesame
169,SLE,2020-10-09,2020-10-02,55,2020-09-25,50,03_samesame
177,SSD,2020-10-09,2020-10-02,44,2020-09-25,40,03_samesame
185,CNG1925,2020-10-09,2020-10-02,10,2020-09-25,8,03_samesame
186,TJK,2020-10-09,2020-10-02,286,2020-09-25,291,03_samesame
187,THA,2020-10-09,2020-10-02,53,2020-09-25,56,03_samesame
189,TGO,2020-10-09,2020-10-02,98,2020-09-25,102,03_samesame
193,TCA,2020-10-09,2020-10-02,5,2020-09-25,11,03_samesame
208,ZWE,2020-10-09,2020-10-02,101,2020-09-25,98,03_samesame

In [17]:
two_week_trend[two_week_trend['trend_class']=='02_more'].head(30)

,country_ISO,today,seven_days_ago,cases_this_week,fourteen_days_ago,cases_last_week,trend_class
1,ALB,2020-10-09,2020-10-02,1093,2020-09-25,885,02_more
3,AND,2020-10-09,2020-10-02,518,2020-09-25,297,02_more
4,AGO,2020-10-09,2020-10-02,891,2020-09-25,609,02_more
7,ARG,2020-10-09,2020-10-02,91367,2020-09-25,86723,02_more
8,ARM,2020-10-09,2020-10-02,3623,2020-09-25,2599,02_more
11,AUT,2020-10-09,2020-10-02,6286,2020-09-25,5071,02_more
12,AZE,2020-10-09,2020-10-02,995,2020-09-25,623,02_more
17,BLR,2020-10-09,2020-10-02,2963,2020-09-25,2368,02_more
19,BLZ,2020-10-09,2020-10-02,347,2020-09-25,268,02_more
20,BEN,2020-10-09,2020-10-02,54,2020-09-25,32,02_more
21,BMU,2020-10-09,2020-10-02,3,2020-09-25,0,02_more
24,BES,2020-10-09,2020-10-02,41,2020-09-25,28,02_more
25,BIH,2020-10-09,2020-10-02,1783,2020-09-25,1429,02_more
30,BGR,2020-10-09,2020-10-02,2163,2020-09-25,1523,02_more
31,BFA,2020-10-09,2020-10-02,153,2020-09-25,138,02_more
35,CAN,2020-10-09,2020-10-02,15024,2020-09-25,11441,02_more
39,TCD,2020-10-09,2020-10-02,59,2020-09-25,32,02_more
41,CHN,2020-10-09,2020-10-02,161,2020-09-25,143,02_more
42,COL,2020-10-09,2020-10-02,50840,2020-09-25,44516,02_more
45,CRI,2020-10-09,2020-10-02,8000,2020-09-25,7369,02_more
47,HRV,2020-10-09,2020-10-02,2162,2020-09-25,1255,02_more
49,CUW,2020-10-09,2020-10-02,106,2020-09-25,84,02_more
50,CYP,2020-10-09,2020-10-02,146,2020-09-25,109,02_more
51,CZE,2020-10-09,2020-10-02,26502,2020-09-25,15881,02_more
52,COD,2020-10-09,2020-10-02,137,2020-09-25,130,02_more
56,DOM,2020-10-09,2020-10-02,4144,2020-09-25,2606,02_more
58,EGY,2020-10-09,2020-10-02,839,2020-09-25,804,02_more
63,SWZ,2020-10-09,2020-10-02,132,2020-09-25,125,02_more
64,ETH,2020-10-09,2020-10-02,5699,2020-09-25,4411,02_more
68,FIN,2020-10-09,2020-10-02,1242,2020-09-25,724,02_more

# Count countries per category

In [18]:
current_status = two_week_trend['trend_class'].value_counts().rename_axis('trend_class').reset_index(name='country_count_on_today')

In [19]:
current_status.sort_values(by='trend_class')

     trend_class  country_count_on_today
3  01_moredouble                      19
0        02_more                      94
2    03_samesame                      26
1        04_less                      47
5    05_lesshalf                      11
4    06_zerozero                      12

In [20]:
current_status['country_count_on_today'].sum()

209

In [21]:
chart = alt.Chart(current_status).mark_bar(opacity=1,width=300).encode(
    y=alt.Y('sum(country_count_on_today):Q', stack='zero', axis=None),
    color=alt.Color('trend_class:N',scale=alt.Scale(domain=[moredouble, more,samesame,less, lesshalf,zerozero],range=["#BE232D","#D44820","#EE8C0A","#F0AA00","#F0C80F","#00A5FF"]))
    #color=alt.Color('trend_class:N',scale=alt.Scale(domain=['01_moredouble', '02_more','03_samesame','04_less', '05_lesshalf','06_zerozero'],range=["#BE232D","#EE8C0A","#F0C80F","#00A5FF","#002D5A","#96BE00"]))
).properties(
    width=400, 
    height=400
)

numbers_labels = alt.Chart(current_status).mark_text(dx=-130, dy=13, color='#002D5A').encode(
    y=alt.Y('sum(country_count_on_today):Q', stack = 'zero', axis = None),
    detail='trend_class:N',
    text=alt.Text('sum(country_count_on_today):Q', format='.0f'),
)

labeled_chart = chart + numbers_labels
labeled_chart.configure_view(
   strokeOpacity=0
)

alt.LayerChart(...)

# Now do the same for deaths

In [22]:
list_deaths = []
pd_today = pd.to_datetime(today)
for country in countries_list:
    deaths_dict = {}
    #filter dataframe for one specific country at a time
    filtered_aggregates = ecdc[ecdc['countryterritoryCode']==country]
    deaths_dict['country_ISO'] = country
    #filter country-specific-dataframe to only contain the last seven days ("this week")
    seven_days_ago = pd.to_datetime(today-timedelta(7))
    deaths_dict['today'] = today
    deaths_dict['seven_days_ago'] = seven_days_ago
    filtered_aggregates_this_week = filtered_aggregates[(filtered_aggregates['parsed_date']<=pd_today) & (filtered_aggregates['parsed_date']>seven_days_ago)]
    deaths_this_week = filtered_aggregates_this_week['deaths'].sum()
    deaths_dict['deaths_this_week']= deaths_this_week
    #filter country-specific-dataframe to only contain the previous seven days ("last week")    
    fourteen_day_ago = pd.to_datetime(today-timedelta(14))
    deaths_dict['fourteen_days_ago'] = fourteen_day_ago
    filtered_aggregates_last_week = filtered_aggregates[(filtered_aggregates['parsed_date']<=seven_days_ago) &(filtered_aggregates['parsed_date']>fourteen_day_ago)]
    deaths_last_week = filtered_aggregates_last_week['deaths'].sum()
    deaths_dict['deaths_last_week']= deaths_last_week
    # classify country -- verbal description: see README.md
    if (deaths_last_week>0)&(deaths_this_week > (deaths_last_week * 2)):
        deaths_dict['trend_class'] = moredouble
    elif deaths_this_week >= (deaths_last_week+threshold_samesame):
        deaths_dict['trend_class'] = more
    elif (deaths_last_week == 0)& (deaths_this_week !=0):
        deaths_dict['trend_class'] = more
    elif (deaths_last_week==0)&(deaths_this_week==0):
        deaths_dict['trend_class'] = zerozero
    elif (deaths_this_week == deaths_last_week):
        deaths_dict['trend_class'] = samesame
    elif (deaths_this_week == 0)&(deaths_last_week != 0):
        deaths_dict['trend_class'] = lesshalf
    elif deaths_last_week+threshold_samesame > deaths_this_week > deaths_last_week -threshold_samesame:
        deaths_dict['trend_class'] = samesame
    elif deaths_this_week < deaths_last_week/2:
        deaths_dict['trend_class'] = lesshalf
    elif deaths_this_week <= deaths_last_week-threshold_samesame:
        deaths_dict['trend_class'] = less
    else:
        deaths_dict['trend_class'] = 'youMISSEDsth'

    # add it all to the list of country dicts
    list_deaths.append(deaths_dict)

In [23]:
death_trend = pd.DataFrame(list_deaths)
death_trend.head()

,country_ISO,today,seven_days_ago,deaths_this_week,fourteen_days_ago,deaths_last_week,trend_class
0,AFG,2020-10-09,2020-10-02,14,2020-09-25,7,02_more
1,ALB,2020-10-09,2020-10-02,23,2020-09-25,18,03_samesame
2,DZA,2020-10-09,2020-10-02,42,2020-09-25,38,03_samesame
3,AND,2020-10-09,2020-10-02,1,2020-09-25,0,02_more
4,AGO,2020-10-09,2020-10-02,23,2020-09-25,24,03_samesame

In [24]:
death_trend['trend_class'].value_counts()

03_samesame      61
06_zerozero      61
02_more          37
04_less          25
01_moredouble    13
05_lesshalf      12
Name: trend_class, dtype: int64

In [25]:
len(death_trend[death_trend['trend_class']=='youMISSEDsth'])

0

In [26]:
death_status = death_trend['trend_class'].value_counts().rename_axis('trend_class').reset_index(name='country_count_on_today')
death_status.sort_values(by='trend_class')

     trend_class  country_count_on_today
4  01_moredouble                      13
2        02_more                      37
0    03_samesame                      61
3        04_less                      25
5    05_lesshalf                      12
1    06_zerozero                      61

In [27]:
chart = alt.Chart(death_status).mark_bar(opacity=1,width=300).encode(
    y=alt.Y('sum(country_count_on_today):Q', stack='zero', axis=None),
    color=alt.Color('trend_class:N',scale=alt.Scale(domain=[moredouble, more,samesame,less, lesshalf,zerozero],range=["#BE232D","#D44820","#EE8C0A","#F0AA00","#F0C80F","#00A5FF"]))
    #color=alt.Color('trend_class:N',scale=alt.Scale(domain=['01_moredouble', '02_more','03_samesame','04_less', '05_lesshalf','06_zerozero'],range=["#BE232D","#EE8C0A","#F0C80F","#00A5FF","#002D5A","#96BE00"]))
).properties(
    width=400, 
    height=400
)

numbers_labels = alt.Chart(death_status).mark_text(dx=-130, dy=13, color='#002D5A').encode(
    y=alt.Y('sum(country_count_on_today):Q', stack = 'zero', axis = None),
    detail='trend_class:N',
    text=alt.Text('sum(country_count_on_today):Q', format='.0f'),
)

labeled_chart = chart + numbers_labels
labeled_chart.configure_view(
   strokeOpacity=0
)

alt.LayerChart(...)